{% load static %}


  


<body>
    <div class="container-xxl position-relative bg-light d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-dark">Mersa</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Ahammed</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <div class="dropdown-menu bg-transparent border-0">
                            
                        </div>
                    </div>
                    <a href="{% url 'admin_dashboard'%}" class="nav-item nav-link"><i class="bi bi-award"></i>chart</a>
                    <a href="{% url 'brand' %}" class="nav-item nav-link"><i class="bi bi-award"></i>Brands</a>
                    <a href="{% url 'category' %}" class="nav-item nav-link"><i class="bi bi-diagram-3"></i>Category</a>
                    <a href="{% url 'product' %}" class="nav-item nav-link"><i class="fas fa-cubes"></i>Products</a>
                    <a href="{% url 'userdetails' %}" class="nav-item nav-link"><i class="bi bi-people"></i>Users</a>
                    <a href="{% url 'orders' %}" class="nav-item nav-link"><i class="bi bi-people"></i>Orders</a>
                    <a href="{% url 'coupon_list' %}" class="nav-item nav-link"><i class="bi bi-people"></i>Coupons</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Variant details</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">View Variant</a>
                        
                        </div>
                    </div>
                    


                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
