{% extends 'admin/admin_layout/admin_main.html' %}
{% load static %}




{% block body %}




    <!-- Your home page content goes here -->
{% comment %} 
    {% if not show_low_stock_modal %}
        <!-- Modal HTML -->
        <div class="modal" tabindex="-1" role="dialog" id="lowStockModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Low Stock Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Some products are low in stock. Please review your inventory.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // JavaScript to show the modal when the page loads
            $(document).ready(function () {
                $('#lowStockModal').modal('show');
            });
        </script>
    {% endif %} {% endcomment %}

{% comment %} 

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>  {% endcomment %}
      <!-- Sale & Revenue Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h5 class="card-title">Daily Report</h5>
                                <small class="text-muted">Report Of {{today_date}}</small>
                            </div>
                        </div>
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="bg-light rounded p-2 mt-1">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">{{ daily_total_revenue }}</h6>
                            </div>
                        </div>
                        <div class="mt-3">
                            <small class="text-muted">Today's Orders Received</small><span>: {{ per_day_total_order_count }}</span>
                            <small class="text-muted">Total Products Sold</small><span>: {{ per_day_total_product_count }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h5 class="card-title">Weekly Report</h5>
                                <small class="text-muted">Report From {{week_start_date}} To {{week_end_date}}</small>
                            </div>
                        </div>
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="bg-light rounded p-2 mt-1">
                                <p class="mb-2">Weekly Sale</p>
                                <h6 class="mb-0">{{ weekly_total_revenue }}</h6>
                            </div>
                        </div>
                        <div class="mt-3">
                            <small class="text-muted">Today's Orders Received</small><span>: {{ weekly_total_order_count }}</span>
                            <small class="text-muted">Total Products Sold</small><span>: {{ weekly_total__product_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
       
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h5 class="card-title">Weekly Report</h5>
                                <small class="text-muted">Report From {{week_start_date}} To {{week_end_date}}</small>
                            </div>
                        </div>
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="bg-light rounded p-2 mt-1">
                                <p class="mb-2">Weekly Sale</p>
                                <h6 class="mb-0">{{ weekly_total_revenue }}</h6>
                            </div>
                        </div>
                        <div class="mt-3">
                            <small class="text-muted">Today's Orders Received</small><span>: {{ weekly_total_order_count }}</span>
                            <small class="text-muted">Total Products Sold</small><span>: {{ weekly_total__product_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h5 class="card-title">Weekly Report</h5>
                                <small class="text-muted">Report From {{week_start_date}} To {{week_end_date}}</small>
                            </div>
                        </div>
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="bg-light rounded p-2 mt-1">
                                <p class="mb-2">Weekly Sale</p>
                                <h6 class="mb-0">{{ weekly_total_revenue }}</h6>
                            </div>
                        </div>
                        <div class="mt-3">
                            <small class="text-muted">Today's Orders Received</small><span>: {{ weekly_total_order_count }}</span>
                            <small class="text-muted">Total Products Sold</small><span>: {{ weekly_total__product_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Sale & Revenue End -->

    
            <!-- Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Daily Sales for the Week </h6>
                            
                            <span>{{week_start_date}}  To  {{week_end_date}}</span>
                            <canvas id="dailySalesChart" width="400" height="300"></canvas>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Pie Chart</h6>
                            <canvas id="dailySalesChar"></canvas>
                        </div>
                    </div>

                    
                    
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Payment Mode Pie Chart</h6>
            <div style="width: 100%">
                <canvas id="paymentModePieChart"></canvas>
            </div>
        </div>
    </div>


                    {% comment %} <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Single Line Chart</h6>
                            <canvas id="line-chart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Multiple Line Chart</h6>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Single Bar Chart</h6>
                            <canvas id="bar-chart"></canvas>
                        </div>
                    </div> {% endcomment %}


                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                    {% for brand_name, sales_per_day in brand_sales_per_day.items %}
                        <h2>{{ brand_name }} {{sales_per_day.quantity}}</h2>
                        <canvas id="{{ brand_name }}-chart" width="400" height="200"></canvas>
                    {% endfor %}
                </div>
            </div>


                    {% comment %} <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Multiple Bar Chart</h6>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div> {% endcomment %}
                   
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Weekly Sales</h6>
                            <canvas id="weeklySales" width="400" height="300"></canvas>
                        </div>
                    </div>
                    {% comment %} <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Doughnut Chart</h6>
                            <canvas id="doughnut-chart"></canvas>
                        </div>
                    </div>
                    {% endcomment %}
            
                </div>
            </div>
            <!-- Chart End -->
            
            
        
            





<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-KyZXEAg4GhqLMpG8r+lvZI9bB3vEXEzT6kThdVz8Z3A=" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    var weekNumber = [
        {% for weekday_name in daily_sales_labels %} '{{ weekday_name }}', {% endfor %}
    ];
    var totalSales = [   
    {% for weekday_name in daily_sales_data %} '{{ weekday_name }}', {% endfor %}
    ];
    var ctx = document.getElementById('dailySalesChar').getContext('2d');
    var weeklySales = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: weekNumber, 
            datasets: [{
                label: 'Daily Sales',
                data: totalSales,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>    
{% comment %} 

<script>
    var labels = [
        {% for label in payment_label %} '{{ label }}', {% endfor %}
    ];
    var datas = [   
    {% for data in payment_data %} '{{ data }}', {% endfor %}
    ];
    var ctx = document.getElementById('').getContext('2d');
    var weeklySales = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels, 
            datasets: [{
                label: 'Daily Sales',
                data: datas,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>     {% endcomment %}


   
    <script>
        var data = {
            labels: {{ payment_label|safe }},
            datasets: [{
                data: {{ payment_data|safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    // Add more colors here as needed
                ],
                borderWidth: 1,
            }]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: false,
        };

        var ctx = document.getElementById('paymentModePieChart').getContext('2d');
        var paymentModePieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options,
        });
    </script>



<script>
    var weekNumber = [
        {% for weekday_name in daily_sales_labels %} '{{ weekday_name }}', {% endfor %}
    ];
    var totalSales = [   
    {% for weekday_name in daily_sales_data %} '{{ weekday_name }}', {% endfor %}
    ];
    var ctx = document.getElementById('dailySalesChart').getContext('2d');
    var weeklySales = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: weekNumber, 
            datasets: [{
                label: 'Daily Sales',
                data: totalSales,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>    



 <script>
        var weekNumber = [
            {% for weekday_name in weekday_names %} '{{ weekday_name }}', {% endfor %}
        ];

        var totalSales = [
    
                {{weekly_sales}},
            
        ];
        var ctx = document.getElementById('weeklySales').getContext('2d');
        var weeklySales = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: weekNumber,
                datasets: [{
                    label: 'Sales',
                    data: totalSales,
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>    
    
    <script>
        // JavaScript to render charts for each brand
        {% for brand_name, sales_per_day in brand_sales_per_day.items %}
            var dates = [];
            var quantities = [];
        
            {% for date, total_quantity in sales_per_day.items %}
                dates.push('{{ date }}');
                quantities.push({{ total_quantity }});
            {% endfor %}
        
            var ctx = document.getElementById('{{ brand_name }}-chart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Quantity Sold',
                        data: quantities,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Date',
                            },
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Quantity Sold',
                            },
                        },
                    },
                },
            });
        {% endfor %}
        </script>
{% endblock %}





