{% extends 'layouts/main.html' %}
{% load static %}
{% block style %}
  <!-- Add your other meta tags and CSS links here -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<style>
  /* Replace 'your-style.css' with the actual path to your CSS file */
/* If you don't have a custom CSS file, you can add the styles in your <style> tag or in the head section of your HTML file. */

/* your-style.css */
.attractive-image {
  /* Add border radius to make the images rounded */
  border-radius: 2px;
  
  /* Add box-shadow to give a soft shadow effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  /* Reduce the size of the images */
  max-width: 150px;
  max-height: 100px;
  /* Add a little margin to separate the images */
  margin: 10px;
}

/* On hover, you can add some transition effect to make the images scale a bit */
.attractive-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


  /* Add your custom styles here */
  #home-section .slider-item {
    /* Set the desired height for the slider item */
    height: 500px;
    /* Set the background size to cover, so the image covers the entire slider item */
    background-size: cover;
    /* Center the background image within the slider item */
    background-position: center;
  }
</style>



{% endblock style %}
{% block body %}
<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/homepage_slider2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2"> Mersa Home</h1>
            <h2 class="subheading mb-4">Uninterrupted Power for Peace of Mind</h2>
            {% comment %} <p><a href="#" class="btn btn-primary">View Details</a></p> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item" style="background-image: url({% static 'images/nv.jpeg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">Power You Can Rely On</h1>
            <h2 class="subheading mb-4">Reliable Power When You Need It</h2>
            {% comment %} <p><a href="#" class="btn btn-primary">View Details</a></p> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="ftco-section ftco-category ftco-no-pt m-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 heading-section ftco-animate text-center">
            
              
            <h2>Shop By Category</h2>
            {% comment %} <p><a href="#" class="btn btn-primary">Shop now</a></p> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="row d-flex justify-content-center"> <!-- Add justify-content-center class here -->
          {% for cat in categories %}
            <div class="col-md-4 ">
              
              <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({{ cat.category_image.url }});">
                <div class="text px-3 py-1">
                  <h2 class="mb-0"><a href="{% url 'shop_by_category' cat.id %}">{{ cat.category_name }}</a></h2>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>




{% comment %} <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12  heading-section text-center ftco-animate">
        <span class="subheading">Featured Products</span>
        <h2 class="mb-4">Top Selling Products</h2>
        <p>Power You Can Rely On</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      
      {% for prod in products  %}
      <div class="col-md-6 col-lg-3 col-6 ftco-animate">
        <div class="product">
          <a href="{% url 'shop_by_product' prod.id variant.id %}" class="img-prod"> 
            
            <span class="status">30%</span>
            <div style="display: flex; justify-content: center; align-items: center; height: 250px;">
              <img class="img-fluid" src="{{ prod.product_image.url }}" alt="img" style="max-width: 90%; max-height: 80%;">
            </div>
            {% comment %} <img class="img-fluid" src="{{ prod.product_image.url }}" alt="img" style="width: 80%; height: 250px;"> {% endcomment %}
            {% comment %} <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="#">{{ prod.product_name }}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price">
                  <span class="mr-2 price-dc">{{ prod.mrp }}</span>
                  <span class="price-sale">{{ prod.offer_price }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>  {% endcomment %}















<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2>Our Satisfied Customers</h2>
        <p></p>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">System Analyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-4 ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/exide_logo.jpg' %}" class="img-fluid attractive-image" alt="Exide Logo"></a>
      </div>
      <div class="col-4 ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/livfast_logo.png' %}" class="img-fluid attractive-image" alt="Livfast Logo"></a>
      </div>
      <div class="col-4 ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/luminous_logo.png' %}" class="img-fluid attractive-image" alt="Luminous Logo"></a>
      </div>
     
    </div>
  </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock body %}



